@charset "utf-8";

.sub_page{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.sub_page.main{
    text-align: center;
}
.sub_page.main .bg_img{
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: #ACABAB;
    white-space: nowrap;
    font-size: 0;
}
.sub_page.main .bg_img img{
    width: 100%;
    height: 100%;
}
.sub_page.main .bg_img .swiper-pagination{
    bottom: 1.52rem;
}
.sub_page.main .bg_img .swiper-pagination .swiper-pagination-bullet{
    vertical-align: middle;
    width: 0.16rem;
    height: 0.16rem;
    background: white;
    margin: 0 0.14rem;
    opacity: 1;
}
.sub_page.main .bg_img .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 0.24rem;
    height: 0.24rem;
}

.sub_page.main .top{
    margin-top: 0.65rem;
    height: 0.75rem;
}
.sub_page.main .top .icon{
    margin: 0 0.4rem;
    width: 0.64rem;
    height: 0.64rem;
    background-size: auto 100%;
}
.sub_page.main .top .icon.back{
    float: left;
}
.sub_page.main .top .icon.share{
    float: right;
}

.sub_page.main .middle .favour{
    margin-top: 8.5rem;
}
.sub_page.main .middle .favour .icon{
    width: 0.8rem;
    height: 0.8rem;
    background-size: 100%;
}
.sub_page.main .middle .title{
    margin-top: 0.2rem;
    font-size: 0.3rem;
    letter-spacing: 0.02rem;
    font-family: 方正姚体, 宋体, serif;
    line-height: 0.3rem;
}
.sub_page.main .middle .title:before{
    content: "【";
}
.sub_page.main .middle .title:after{
    content: "】";
}

/*.sub_page.main .middle .page_btn{
    margin-top: 0.25rem;
    height: 0.24rem;
}
.sub_page.main .middle .page_btn p{
    display: inline-block;
    vertical-align: middle;
    width: 0.16rem;
    height: 0.16rem;
    background: white;
    border-radius: 50%;
    margin: 0 0.14rem;
}
.sub_page.main .middle .page_btn p.selected{
    width: 0.24rem;
    height: 0.24rem;
}*/

.sub_page.main .middle .detail{
    position: absolute;
    left: 5.76rem;
    top: 2.21rem;
}
.sub_page.main .middle .detail .icon{
    width: 0.6rem;
    height: 0.6rem;
    background-size: 100%;
}

.sub_page.main .bottom{
    position: absolute;
    bottom: -0.12rem;
    width: 100%;
    height: 1.56rem;
    background: url(../img/display/bottom_bg.png) no-repeat;
    background-size: 100%;
    margin-top: 0.16rem;
}
.sub_page.main .bottom .item{
    width: 1.3rem;
    font-size:0.31rem;
    line-height: 0.40rem;
}
.sub_page.main .bottom .item.left{
    float: left;
    margin-left: 0.38rem;
}
.sub_page.main .bottom .item.right{
    float: right;
}
.sub_page.main .bottom .item .icon{
    width: 100%;
    height: 0.5rem;
    background-size: auto 100%;
}

.sub_page.detail{
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 999;
}
.sub_page.detail .top{
    margin-top: 0.68rem;
    height: 2rem;
    position: relative;
}
.sub_page.detail .top .icon{
    width: 0.43rem;
    height: 0.43rem;
    margin-left: 0.5rem;
    display: block;
    background-size: 100%;
}
.sub_page.detail .top .text{
    position: absolute;
    left: 0.4rem;
    bottom: 0;
    display: block;
    font-size: 0.3rem;
    font-family: 幼圆, serif;
    letter-spacing: 0.02rem;
}
.sub_page.detail .top .text:before{
    content: "【 ";
}
.sub_page.detail .top .text:after{
    content: " 】";
}
.sub_page.detail .top img{
    position: absolute;
    right: 0.4rem;
    top: 0;
    height: 100%;
}

.sub_page.detail .content{
    margin-top: 0.5rem;
    padding: 0 0.35rem;
    font-size: 0.25rem;
    line-height: 0.45rem;
    height: 4.75rem;
    letter-spacing: 0.04rem;
}

.sub_page.detail .audio{
    text-align: center;
    font-size: 0.24rem;

}
.sub_page.detail .audio .title{
    line-height: 100%;
}
.sub_page.detail .audio audio{
    margin-top: 0.2rem;
}

.sub_page.detail .video{
    margin-top: 0.4rem;
    text-align: center;
    font-size: 0.24rem;
}
.sub_page.detail .video .title{
    line-height: 100%;
}
.sub_page.detail .video video{
    margin-top: 0.2rem;
    width: 5.29rem;
    height: 2.84rem;
    background: black;
}